<div class="dialog">
  <div mat-dialog-title class="dialog__title" *ngIf="data.data.title">
    <h4 class="dialog__text">
      <ng-container [ngSwitch]="data.dialogType">
        <ng-container *ngSwitchCase="DialogType.ConflictRegistration">
          {{ data.data.title }}
        </ng-container>
        <ng-container *ngSwitchCase="DialogType.Alert">
          {{ data.data.title }}
        </ng-container>
        <ng-container *ngSwitchCase="DialogType.ConfirmRedirect">
          {{ data.data.title }}
        </ng-container>
        <ng-container *ngSwitchCase="DialogType.ConfirmDeleteProfile">
          {{ data.data.title }}
        </ng-container>
        <ng-container *ngSwitchCase="DialogType.ConfirmDeleteOtherUser">
          {{ data.data.title }}
        </ng-container>
        <ng-container *ngSwitchCase="DialogType.ConfirmUpdateCurrentUserRole">
          {{ data.data.title }}
        </ng-container>
      </ng-container>
    </h4>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="dialog__content">
    <ng-container [ngSwitch]="data.dialogType">
      <ng-container *ngSwitchCase="DialogType.ConflictRegistration">
        Користувач з електронною поштою {{ data.data.text }} вже існує.
      </ng-container>
      <ng-container *ngSwitchCase="DialogType.Alert">
        {{ data.data.text }}
      </ng-container>
      <ng-container *ngSwitchCase="DialogType.ConfirmRedirect">
        {{ data.data.text }}
      </ng-container>
      <ng-container *ngSwitchCase="DialogType.ConfirmDeleteProfile">
        {{ data.data.text }}
      </ng-container>
      <ng-container *ngSwitchCase="DialogType.ConfirmDeleteOtherUser">
        Ви дійсно хочете видалити {{ data.data.user?.fullName }} зі списку
        користувачів?
      </ng-container>
      <ng-container *ngSwitchCase="DialogType.ConfirmUpdateCurrentUserRole">
        {{ data.data.text }}
      </ng-container>
    </ng-container>
  </div>
  <div mat-dialog-actions class="dialog__actions">
    <ng-container [ngSwitch]="data.dialogType">
      <ng-container *ngSwitchCase="DialogType.ConflictRegistration">
        <button class="dialog__button" (click)="close()">Закрити</button>
      </ng-container>
      <ng-container *ngSwitchCase="DialogType.Alert">
        <button class="dialog__button" (click)="close()">Закрити</button>
      </ng-container>
      <ng-container *ngSwitchCase="DialogType.ConfirmRedirect">
        <button class="dialog__button" [mat-dialog-close]="false">
          Відміна
        </button>
        <button class="dialog__button" [mat-dialog-close]="true">Ок</button>
      </ng-container>
      <ng-container *ngSwitchCase="DialogType.ConfirmDeleteProfile">
        <button class="dialog__button" (click)="close()">Ні</button>
        <button class="dialog__button" [mat-dialog-close]="true">Так</button>
      </ng-container>
      <ng-container *ngSwitchCase="DialogType.ConfirmDeleteOtherUser">
        <button class="dialog__button" (click)="close()">Ні</button>
        <button class="dialog__button" [mat-dialog-close]="data.data.user?.id">
          Так
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="DialogType.ConfirmUpdateCurrentUserRole">
        <button class="dialog__button" (click)="close()">Відмінити</button>
        <button class="dialog__button" [mat-dialog-close]="true">
          Продовжити
        </button>
      </ng-container>
    </ng-container>
  </div>
</div>
