@import "variables";

.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  font-family: $source;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
  }

  &__content {
    line-height: 1.2;
  }

  &__tag {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $white;
    filter: drop-shadow(0 1px 3px rgb(29 30 38 / 10%)) drop-shadow(0 3px 6px rgb(29 30 38 / 10%));
    padding: 2px 5px;
    cursor: pointer;
  }

  &__tags-list {
    display: flex;
    align-items: baseline;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__btn {
    background-color: $brown-1;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: $source;
    font-size: 16px;
    padding: 8px 24px;
    color: $yellow-1;

    &:hover {
      background-color: $brown-2;
    }

    &:disabled,
    &:disabled:hover {
      background-color: $gray-2;
      color: $gray-3;
      cursor: default;
    }

    &--delete {
      background-color: $red;
      color: $white;

      &:hover {
        background-color: $red-2;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__divider {
    border: 0;
    border-top: 2px solid $brown-1;
  }
}
