<div class="article" *ngIf="article && finalRequest">
  <div class="article__buttons" *ngIf="isAdmin">
    <button
      class="article__btn"
      (click)="editArticle()"
      [disabled]="isEditable"
    >
      Редагувати статтю
    </button>
    <button class="article__btn article__btn--delete" (click)="deleteArticle()">
      Видалити статтю
    </button>
  </div>
  <div class="article__inner" *ngIf="!isEditable">
    <div class="article__tags-list">
      <p>Теги:</p>
      <p
        class="article__tag"
        *ngFor="let tag of article.tags"
        (click)="searchArticle(tag)"
      >
        {{ tag.value }}
      </p>
    </div>
    <app-rating
      [rating]="article.rating"
      [votes]="article.votes"
      [isActive]="isRatingActive"
      (activeRating)="updateRating($event)"
    ></app-rating>
    <h3 class="article__title" [mathjax]="article.title"></h3>
    <div class="article__content" [mathjax]="article.content"></div>
    <div class="article__divider"></div>
    <app-comments [articleId]="article.id"></app-comments>
  </div>
  <div class="article__inner" *ngIf="isEditable">
    <app-article-tags
      [selectedTags]="article.tags"
      (saveTagsIds)="saveTagsIds($event)"
    ></app-article-tags>
    <app-article-title
      [title]="article.title"
      (saveTitle)="saveTitle($event)"
    ></app-article-title>
    <app-article-content
      [content]="article.content"
      (saveContent)="saveContent($event)"
    ></app-article-content>
    <div class="article__button-wrapper">
      <button
        class="article__btn"
        [disabled]="isSaveButtonDisable"
        (click)="saveArticle()"
      >
        Зберегти
      </button>
      <button class="article__btn" (click)="cancelEdit()">Відмінити</button>
    </div>
  </div>
</div>
<app-page-not-found *ngIf="!article && finalRequest"></app-page-not-found>
