<div class="registration">
  <h3 class="registration__title">Реєстрація</h3>

  <form [formGroup]="registrationForm">
    <div class="registration__field">
      <label class="registration__label" for="email">Пошта: </label>
      <input
        id="email"
        class="registration__input"
        formControlName="email"
        type="email"
        placeholder="Введіть електронну пошту"
      />
      <p
        class="registration__error"
        *ngIf="
          registrationForm.controls['email'].invalid &&
          (registrationForm.controls['email'].dirty ||
            registrationForm.controls['email'].touched)
        "
      >
        {{ showMessage('email') }}
      </p>
    </div>
    <div class="registration__field">
      <label class="registration__label" for="firstName">Ім'я: </label>
      <input
        id="firstName"
        class="registration__input"
        formControlName="firstName"
        type="text"
        placeholder="Введіть ім'я"
      />
      <p
        class="registration__error"
        *ngIf="
          registrationForm.controls['firstName'].invalid &&
          (registrationForm.controls['firstName'].dirty ||
            registrationForm.controls['firstName'].touched)
        "
      >
        {{ showMessage('firstName') }}
      </p>
    </div>
    <div class="registration__field">
      <label class="registration__label" for="lastName">Прізвище: </label>
      <input
        id="lastName"
        class="registration__input"
        formControlName="lastName"
        type="text"
        placeholder="Введіть прізвище"
      />
      <p
        class="registration__error"
        *ngIf="
          registrationForm.controls['lastName'].invalid &&
          (registrationForm.controls['lastName'].dirty ||
            registrationForm.controls['lastName'].touched)
        "
      >
        {{ showMessage('lastName') }}
      </p>
    </div>
    <div class="registration__field">
      <label class="registration__label" for="password">Пароль: </label>
      <input
        id="password"
        class="registration__input"
        formControlName="password"
        type="password"
        placeholder="Введіть пароль"
      />
      <p
        class="registration__error"
        *ngIf="
          registrationForm.controls['password'].invalid &&
          (registrationForm.controls['password'].dirty ||
            registrationForm.controls['password'].touched)
        "
      >
        {{ showMessage('password') }}
      </p>
    </div>
    <div class="registration__field">
      <label class="registration__label" for="confirmPassword"
        >Підтвердження пароля:
      </label>
      <input
        id="confirmPassword"
        class="registration__input"
        formControlName="confirmPassword"
        type="password"
        placeholder="Підтвердіть пароль"
      />
      <p
        class="registration__error"
        *ngIf="
          registrationForm.controls['confirmPassword'].invalid &&
          (registrationForm.controls['confirmPassword'].dirty ||
            registrationForm.controls['confirmPassword'].touched)
        "
      >
        {{ showMessage('confirmPassword') }}
      </p>
      <p
        class="registration__error"
        *ngIf="!matchPasswords() && !showMessage('confirmPassword')"
      >
        Паролі не співпадають
      </p>
    </div>

    <button
      class="registration__btn"
      [disabled]="registrationForm.invalid && !matchPasswords()"
      (click)="registration()"
    >
      Зареєструватися
    </button>
  </form>
</div>
