@import "variables";

.header {
  background-color: $brown-1;
  font-family: $source;

  &__top {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__no-auth {
    display: flex;
    align-items: center;
  }

  &__auth {
    display: flex;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
    font-size: 50px;
    background: linear-gradient(to right, $yellow-1, $yellow-2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffd700;

    &--light {
      font-weight: 100;
    }

    &--bold {
      font-weight: 900;
    }
  }

  &__login {
    padding: 8px 24px;
    color: $yellow-1;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: $brown-2;
    }
  }

  &__logout {
    font-family: $source;
    font-size: 16px;
    background-color: $brown-1;
    padding: 8px 24px;
    color: $yellow-1;
    cursor: pointer;
    border-radius: 5px;
    border: none;

    &:hover {
      background-color: $brown-2;
    }
  }

  &__menu {
    &-inner {
      max-width: 1400px;
      margin: 0 auto;
      padding: 10px 0;
    }

    &-link {
      text-decoration: none;
      color: $yellow-1;
      padding: 8px;
      cursor: pointer;

      &:hover {
        background-color: $brown-2;
      }
    }
  }
}
