@import "variables";

.header {
  background-color: $brown-1;
  font-family: $source;
  padding: 0 10px;

  &__inner {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: stretch;
    gap: 24px;
  }

  &__logo {
    text-decoration: none;
    font-size: 50px;
    background: linear-gradient(to right, $yellow-1, $yellow-2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffd700;

    &--light {
      font-weight: 100;
    }

    &--bold {
      font-weight: 900;
    }
  }

  &__login {
    padding: 8px 24px;
    color: $yellow-1;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: $brown-2;
    }
  }

  &__menu {
    display: flex;
    align-items: stretch;
  }

  &__menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $yellow-1;
    padding: 8px;
    cursor: pointer;

    &--active {
      box-shadow: 0 -3px $yellow-1 inset;
      background-color: $brown-2;
    }

    &:hover {
      background-color: $brown-2;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: $brown-1;

    &-icon {
      position: relative;
      top: 1px;

      & svg {
        width: 30px;
        height: 30px;

        & path {
          fill: $yellow-1;
        }
      }
    }
  }

  &__drop-down {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;

    &-item {
      font-family: $source;
      font-size: 16px;
      padding: 8px 24px;
      color: $yellow-1;
      cursor: pointer;
      text-decoration: none;
      border: none;
      background-color: $brown-1;

      &:hover {
        background-color: $brown-2;
      }
    }
  }

  &__photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
