<div class="header">
  <div class="header__top">
    <a routerLink="/" class="header__logo">
      <span class="header__logo--light">Math</span
      ><span class="header__logo--bold">Portal</span>
    </a>
    <div *ngIf="!user" class="header__no-auth">
      <a class="header__login" routerLink="/login">Вхід</a>
      <a class="header__login" routerLink="/registration">Реєстрація</a>
    </div>
    <div *ngIf="user" class="header__auth">
      <!--      <a class="header__login" routerLink="/login">Вхід</a>-->
      <button class="header__logout" (click)="logout()">Вихід</button>
    </div>
  </div>

  <nav class="header__menu">
    <div class="header__menu-inner">
      <a class="header__menu-link" routerLink="/">Головна</a>
      <a class="header__menu-link" routerLink="/articles">Статті</a>
      <a class="header__menu-link" routerLink="/applications">Додатки</a>
      <a class="header__menu-link" routerLink="/contacts">Контакти</a>
    </div>
  </nav>
</div>
