<div class="new-article">
  <app-alert></app-alert>
  <app-article-tags
    [clearControl]="clearControl"
    (saveTagsIds)="saveTagsIds($event)"
  ></app-article-tags>
  <app-article-title
    [clearControl]="clearControl"
    (saveTitle)="saveTitle($event)"
  ></app-article-title>
  <app-article-content
    [clearControl]="clearControl"
    (saveContent)="saveContent($event)"
  ></app-article-content>
  <div class="new-article__button-wrapper">
    <button
      class="new-article__button"
      [disabled]="isButtonDisable"
      (click)="saveArticle()"
    >
      Зберегти
    </button>
  </div>
</div>
