<h2>Алгебраїчні рівняння четвертого степеня</h2>
<p>Розглянемо рівняння четвертого степеня
  $$
  ax^4+bx^3+cx^2+dx+e=0,\qquad(1)
  $$
  де $a$, $b$, $c$, $d$, $e$ &#8211; комплексні числа і $a\ne0$. Зробимо в рівнянні (1) заміну змінної
  $$
  x=y-\frac{{'{'}}b{{'}'}}{{'{'}}4a{{'}'}}.\qquad(2)
  $$
  Після заміни змінної отримаємо рівняння
  $$
  x^4+px^2+qx+r=0,\qquad(3)
  $$
  де
  $$
  p=\frac ca-\frac{{'{'}}3b^2{{'}'}}{{'{'}}8a^2{{'}'}},\qquad(4)
  $$
  $$
  q=\frac{{'{'}}b^3{{'}'}}{{'{'}}8a^3{{'}'}}-\frac{{'{'}}cb{{'}'}}{{'{'}}2a^2{{'}'}}+\frac da,\qquad(5)
  $$
  $$
  r=\frac ea-\frac{{'{'}}3b^4{{'}'}}{{'{'}}256a^4{{'}'}}+\frac{{'{'}}cb^2{{'}'}}{{'{'}}16a^3{{'}'}}-\frac{{'{'}}bd{{'}'}}{{'{'}}4a^2{{'}'}}.\qquad(6)
  $$
</p>
<p>
  Оскільки будь-яке рівняння четвертого степеня можна звести до вигляду (3), то будемо шукати розв'язок саме такого рівняння. Розглянемо 2 методи розвязування
  рівняння четвертого степеня.
</p>
<p>
  <span>Метод Ейлера.</span> Розв'язок рівняння (3) будемо шукати у вигляді
  $$
  y=u+v+w.\qquad(7)
  $$
  З рівності (7) отримаємо
  $$
  y^2=(u^2+v^2+w^2)+2(uv+uw+vw),
  $$
  $$
  y^4=(u^2+v^2+w^2)^2+4(u^2+v^2+w^2)(vw+wu+uv)+4(v^2w^2+w^2u^2+u^2v^2)+8uvw(u+v+w).
  $$
</p>
<p>
  Таким чином (3) набуває вигляду
  $$
  4(v^2w^2+w^2u^2+u^2v^2)+(u^2+v^2+w^2)^2+p(u^2+v^2+w^2)+r+(vw+wu+uv)[4(u^2+v^2+w^2)+2p]+(u+v+w)[8uvw+q]=0.
  $$
  Виберемо $u$, $v$, $w$ так, щоб
  $$
  u^2+v^2+w^2=-\frac p2,\qquad(8)
  $$
  $$
  uvw=-\frac q8.\qquad(9)
  $$
  Тоді вирази в квадратних дужках будуть дорівнювати нулю і наше рівняння набуде вигляду
  $$
  u^2v^2+u^2w^2+v^2w^2=\frac{{'{'}}p^2-4r{{'}'}}{{'{'}}16{{'}'}}.\qquad(10)
  $$
  Піднесення (9) до квадрату дає
  $$
  u^2v^2w^2=\frac{{'{'}}q^2{{'}'}}{{'{'}}64{{'}'}}.\qquad(11)
  $$
  Ліві частини (8), (10) та (11) є елементарними симетричними поліномами від $u^2$, $v^2$, $w^2$, звідки ці три квадрати є коренями $z_1$, $z_2$, $z_3$
  так званої резольвенти
  $$
  z^3+\frac p2z^2+\frac{{'{'}}p^2-4r{{'}'}}{{'{'}}16{{'}'}}z-\frac{{'{'}}q^2{{'}'}}{{'{'}}64{{'}'}}=0.\qquad(12)
  $$
  Тому можемо записати
  $$
  u=\pm\sqrt{{'{'}}z_1{{'}'}},\,v=\pm\sqrt{{'{'}}z_2{{'}'}},\,w=\pm\sqrt{{'{'}}z_3{{'}'}}.
  $$
  Усі 8 комбінацій знаків цих квадратних коренів задовольняють рівняння (8), (10), (11). Для того, щоб задовольнити також (9) знаки повинні бути підібрані
  відповідним чином. Нехай $u_0$, $v_0$, $w_0$ &#8211; відповідна комбінація значень квадратних коренів. Тоді всі можливі комбінації мають вигляд
  $$
  u_0,\,v_0,\,w_0;\quad u_0,\,-v_0,\,-w_0;\quad -u_0,\,v_0,\,-w_0;\quad -u_0,\,-v_0,\,w_0.
  $$
</p>
<p>
  Відповідно ми маємо
</p>
<p>
  <span>Теорема</span> (Ейлер, 1739). Розвязки рівняння (3) мають вигляд
  $$
  \begin{{'{'}}cases{{'}'}}
  y_1=\;\;u_0+v_0+w_0,\\
  y_2=\;\;u_0-v_0-w_0,\\
  y_3=-u_0+v_0-w_0,\\
  y_4=-u_0-v_0+w_0,
  \end{{'{'}}cases{{'}'}}\qquad(13)
  $$
  де $u_0$, $v_0$, $w_0$ є квадратними коренями коренів кубічної резольвенти (12). Знаки квадратних коренів потрібно вибирати так, щоб
  виконувалася рівність
  $$
  u_0v_0w_0=-\frac q8.
  $$
</p>
<p>
  Звідси, повертаючись до $x$, отримуємо розв'язки рівняння (1):
  $$
  x_i=y_i-\frac{{'{'}}b{{'}'}}{{'{'}}4a{{'}'}},\qquad i=\overline{{'{'}}1,4{{'}'}}.
  $$
</p>
<p>
  З рівнянь (13) випливає важлива формула
  $$
  (y_1-y_2)(y_1-y_3)(y_1-y_4)(y_2-y_3)(y_2-y_4)(y_3-y_4)=-2^6(v_0^2-w_0^2)(w_0^2-u_0^2)(u_0^2-v_0^2)=-64(z_2-z_3)(z_3-z_1)(z_1-z_2),
  $$
  яка дає
</p>
<p>
  <span>Висновок.</span> Рівняння четвертого степеня (3) має кратний корінь тоді і тільки тоді, коли його кубічна резольвента (12) теж має такий.
</p>
<p>
  <span>Метод Феррарі.</span>
</p>
