@import 'variables';

.users-filter {
  font-family: $source;

  &__title {
    font-size: 16px;
    font-weight: 600;
  }

  &__input {
    font-family: $source;
    padding: 9px 12px;
    margin-top: 8px;
    border-radius: 3px;
    border: 1px solid $brown-4;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;

    &:hover {
      border-color: $brown-1;
    }

    &:focus {
      border-color:  $brown-2;
      outline: none;
    }

    &:active {
      border-color: $brown-2;
    }
  }
}
