<div class="applications" #app>
  <div>
    <label class="applications__label"
      >Виберіть онлайн-калькулятор зі списку</label
    >
    <div class="applications__select">
      <p-dropdown
        [formControl]="appCtrl"
        placeholder="Виберіть онлайн-калькулятор зі списку"
        [options]="appNames"
        optionLabel="title"
        [appendTo]="app"
        [autoDisplayFirst]="false"
      ></p-dropdown>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
