<div class="solving-triangle" #s_triangle>
  <h3 class="solving-triangle__app-title">Розв'язування трикутників</h3>
  <div>
    <label class="solving-triangle__label"
      >Виберіть відомі елементи трикутника</label
    >
    <div class="solving-triangle__select">
      <p-dropdown
        [formControl]="triangleCtrl"
        placeholder="Виберіть відомі елементи трикутника"
        [options]="solvingTriangleOptions"
        optionLabel="title"
        [appendTo]="s_triangle"
        [autoDisplayFirst]="false"
      ></p-dropdown>
    </div>
  </div>
  <app-solving-triangle-form
    [taskConfig]="config"
    (triangleEvent)="saveResult($event)"
  ></app-solving-triangle-form>
  <div
    class="solving-triangle__result"
    *ngFor="let triangle of trianglesToString"
  >
    <div>
      <h6 class="solving-triangle__result-title">Сторони</h6>
      <p class="solving-triangle__result-item" [mathjax]="triangle.side_a"></p>
      <p class="solving-triangle__result-item" [mathjax]="triangle.side_b"></p>
      <p class="solving-triangle__result-item" [mathjax]="triangle.side_c"></p>
    </div>
    <div>
      <h6 class="solving-triangle__result-title">Кути</h6>
      <p class="solving-triangle__result-item" [mathjax]="triangle.angle_a"></p>
      <p class="solving-triangle__result-item" [mathjax]="triangle.angle_b"></p>
      <p class="solving-triangle__result-item" [mathjax]="triangle.angle_c"></p>
    </div>
    <div>
      <h6 class="solving-triangle__result-title">Висоти</h6>
      <p
        class="solving-triangle__result-item"
        [mathjax]="triangle.altitude_a"
      ></p>
      <p
        class="solving-triangle__result-item"
        [mathjax]="triangle.altitude_b"
      ></p>
      <p
        class="solving-triangle__result-item"
        [mathjax]="triangle.altitude_c"
      ></p>
    </div>
    <div>
      <h6 class="solving-triangle__result-title">Бісектриси</h6>
      <p
        class="solving-triangle__result-item"
        [mathjax]="triangle.bisector_a"
      ></p>
      <p
        class="solving-triangle__result-item"
        [mathjax]="triangle.bisector_b"
      ></p>
      <p
        class="solving-triangle__result-item"
        [mathjax]="triangle.bisector_c"
      ></p>
    </div>
    <div>
      <h6 class="solving-triangle__result-title">Медіани</h6>
      <p
        class="solving-triangle__result-item"
        [mathjax]="triangle.median_a"
      ></p>
      <p
        class="solving-triangle__result-item"
        [mathjax]="triangle.median_b"
      ></p>
      <p
        class="solving-triangle__result-item"
        [mathjax]="triangle.median_c"
      ></p>
    </div>
    <div>
      <h6 class="solving-triangle__result-title">Радіуси</h6>
      <div class="solving-triangle__result">
        <div>
          <p
            class="solving-triangle__result-item"
            [mathjax]="triangle.radius_R"
          ></p>
          <p
            class="solving-triangle__result-item"
            [mathjax]="triangle.radius_r"
          ></p>
        </div>
        <div>
          <p
            class="solving-triangle__result-item"
            [mathjax]="triangle.radius_ra"
          ></p>
          <p
            class="solving-triangle__result-item"
            [mathjax]="triangle.radius_rb"
          ></p>
          <p
            class="solving-triangle__result-item"
            [mathjax]="triangle.radius_rc"
          ></p>
        </div>
      </div>
    </div>
  </div>
</div>
