<div
  class='tag-item'
  [contentEditable]='isEditable'
  [ngClass]="{'tag-item--editable': isEditable}"
>
  <p class='tag-item__name'>{{tag.value}}</p>
  <div *ngIf='!isEditable'>
    <button class='tag-item__btn' (click)='editTag()'>
      <svg-icon
        class="tag-item__img"
        src="assets/images/edit.svg"
      ></svg-icon>
    </button>
    <button class='tag-item__btn' (click)='deleteTag()'>
      <svg-icon
        class="tag-item__img"
        src="assets/images/delete.svg"
      ></svg-icon>
    </button>
  </div>
  <div *ngIf='isEditable'>
    <button class='tag-item__btn'>
      <svg-icon
        class="tag-item__img"
        src="assets/images/save.svg"
      ></svg-icon>
    </button>
    <button class='tag-item__btn' (click)='cancelEditTag()'>
      <svg-icon
        class="tag-item__img"
        src="assets/images/content-clear.svg"
      ></svg-icon>
    </button>
  </div>
</div>
