<div
  class="tag-item"
  [ngClass]="{ 'tag-item--editable': isEditable }"
>
  <p
    #tagItem
    class="tag-item__name"
    [innerHTML]="tag.value | bypassHtml"
    [contentEditable]="isEditable"
    [ngClass]="{ 'tag-item__name--editable': isEditable }"
  >
    {{ tag.value }}
  </p>
  <div *ngIf="!isEditable">
    <button class="tag-item__btn" (click)="editTag()">
      <svg-icon class="tag-item__img" src="assets/images/edit.svg"></svg-icon>
    </button>
    <button class="tag-item__btn" (click)="deleteTag()">
      <svg-icon class="tag-item__img" src="assets/images/delete.svg"></svg-icon>
    </button>
  </div>
  <div *ngIf="isEditable">
    <button class="tag-item__btn" (click)="saveTag()">
      <svg-icon class="tag-item__img" src="assets/images/save.svg"></svg-icon>
    </button>
    <button class="tag-item__btn" (click)="cancelEditTag()">
      <svg-icon
        class="tag-item__img"
        src="assets/images/content-clear.svg"
      ></svg-icon>
    </button>
  </div>
</div>
