@import "variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.login {
  border-radius: 6px;
  font-family: $source;
  padding: 24px;
  width: 370px;
  background-color: $brown-3;
  box-shadow: 0 2px 10px 0 $gray-1;

  &__title {
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  &__field {
    position: relative;
    height: 78px;

    &:nth-child(2) {
      margin-bottom: 12px;
    }

    &::after {
      content: "* required";
      position: absolute;
      top: 4px;
      right: 0;
      font-size: 12px;
    }
  }

  &__label {
    display: block;
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    color: $yellow-1;
    background-color: $brown-1;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: $source;
    padding: 8px 24px;

    &:hover {
      background-color: $brown-2;
    }

    &:disabled,
    &:disabled:hover {
      color: $gray-3;
      background-color: $gray-2;
      cursor: default;
    }
  }

  &__input {
    margin-top: 8px;
    padding: 9px 12px;
    border-radius: 3px;
    border: 1px solid $brown-4;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    font-family: $source;

    &.ng-invalid.ng-touched {
      border-color: $red;
    }

    &:hover {
      border-color: $brown-1;
    }

    &:focus {
      border-color:  $brown-2;
      outline: none;
    }

    &:active {
      border-color: $brown-2;
    }
  }

  &__error {
    font-size: 12px;
    color: $red;
    font-weight: 700;
  }
}
