@import "variables";

.comment-item {
  display: grid;
  column-gap: 10px;
  row-gap: 5px;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px max-content;

  &__photo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
    font-family: $source;
    font-size: 16px;
  }

  &__comment-details {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__user-icon {
    & svg {
      width: 50px;
      height: 50px;
    }
  }

  &__content {
    font-family: $source;
    font-size: 16px;
    line-height: 1.2;
  }

  &__icon-like {
    & svg {
      width: 20px;
      height: 20px;
    }
  }

  &__btn-like {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }

  &__like {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__number-likes {
    font-family: $source;
    font-size: 16px;
  }

  &__footer {
    display: flex;
    gap: 10px;
  }

  &__btn-answer {
    font-family: $source;
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      color: $brown-1;
    }
  }

  &__child-comment {
    margin-top: 5px;
  }

  &__new-comment {
    margin-top: 5px;
  }

  &__btn-menu {
    width: 12px;
    height: 28px;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
  }

  &__drop-down {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
    filter: drop-shadow(0 1px 3px rgba(29,30,38,.1)) drop-shadow(0 3px 6px rgba(29,30,38,.1));
    border-radius: 5px;
    overflow: hidden;

    &-item {
      font-family: $source;
      font-size: 16px;
      font-weight: 600;
      padding: 8px 24px;
      cursor: pointer;
      border: none;
      background-color: $white;

      &:hover {
        color: $brown-1;
        background-color: $gray-2;
      }

      &:disabled,
      &:disabled:hover {
        background-color: $white;
        color: $gray-3;
        cursor: default;
      }
    }
  }

  &__wrapper-menu {
    position: relative;
  }

  &__textarea {
    font-family: $source;
    padding: 9px 12px;
    border-radius: 3px;
    border: 1px solid $brown-4;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    resize: none;

    &:hover {
      border-color: $brown-1;
    }

    &:focus {
      border-color:  $brown-2;
      outline: none;
    }

    &:active {
      border-color: $brown-2;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  &__btn {
    background-color: $brown-1;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: $source;
    font-size: 16px;
    padding: 8px 24px;
    color: $yellow-1;

    &:hover {
      background-color: $brown-2;
    }

    &:disabled,
    &:disabled:hover {
      background-color: $gray-2;
      color: $gray-3;
      cursor: default;
    }
  }
}
