<div class="comment-item">
  <div class="comment-item__photo">
    <img
      class="comment-item__user-photo"
      *ngIf="comment.user.photo; else elseBlock"
      [src]="comment.user.photo"
      alt="photo"
    />
    <ng-template #elseBlock>
      <svg-icon
        class="comment-item__user-icon"
        src="assets/images/user-icon.svg"
      ></svg-icon>
    </ng-template>
  </div>
  <div class="comment-item__header">
    <div class="comment-item__user-details">
      <div class="comment-item__name">{{ comment.user.fullName }}</div>
      <div class="comment-item__time">
        {{ comment.createdAt | date : 'dd.MM.YYYY HH:mm' }}
        <span *ngIf="comment.createdAt !== comment.updatedAt"
          >(змінено {{ comment.updatedAt | date : 'dd.MM.YYYY HH:mm' }})</span
        >
      </div>
    </div>
    <div
      class="comment-item__wrapper-menu"
      appClickOutside
      (clickOutside)="closeDropDown()"
    >
      <button class="comment-item__btn-menu" (click)="openDropDown()">
        <svg-icon src="assets/images/navigation-more_vert.svg"></svg-icon>
      </button>
      <div class="comment-item__drop-down" *ngIf="isActiveDropDown">
        <button
          class="comment-item__drop-down-item"
          (click)="editComment()"
          [disabled]="!user || user.id !== comment.user.id"
        >
          Змінити
        </button>
        <button
          class="comment-item__drop-down-item"
          (click)="deleteComment()"
          [disabled]="!user || (!user.isAdmin && user.id !== comment.user.id)"
        >
          Видалити
        </button>
      </div>
    </div>
  </div>
  <div class="comment-item__comment-details">
    <div class="comment-item__content" *ngIf="!isCommentEditable">
      {{ comment.content }}
    </div>
    <div class="comment-item__content" *ngIf="isCommentEditable">
      <textarea
        class="comment-item__textarea"
        rows="3"
        [formControl]="commentCtrl"
      ></textarea>
      <div class="comment-item__button-wrapper">
        <button class="comment-item__btn" (click)="cancelEditComment()">
          Відмінити
        </button>
        <button
          class="comment-item__btn"
          [disabled]="!commentCtrl.getRawValue()"
          (click)="saveComment()"
        >
          Зберегти
        </button>
      </div>
    </div>
    <div class="comment-item__footer">
      <div class="comment-item__like">
        <button class="comment-item__btn-like" (click)="likeComment(1)">
          <svg-icon
            class="comment-item__icon-like"
            src="assets/images/like.svg"
          ></svg-icon>
        </button>
        <span class="comment-item__number-likes">{{
          comment.likesUsersIds.length
        }}</span>
      </div>
      <div class="comment-item__like">
        <button class="comment-item__btn-like" (click)="likeComment(-1)">
          <svg-icon
            class="comment-item__icon-like"
            src="assets/images/dislike.svg"
          ></svg-icon>
        </button>
        <span class="comment-item__number-likes">{{
          comment.dislikesUsersIds.length
        }}</span>
      </div>
      <button class="comment-item__btn-answer" (click)="toggleNewComment()">
        Відповісти
      </button>
      <span *ngIf="commentsList.length">&#8226;</span>
      <button
        *ngIf="commentsList.length"
        class="comment-item__btn-answer"
        (click)="toggleChildrenComments()"
      >
        Відповіді ({{ total }})
      </button>
    </div>
    <app-new-comment
      class="comment-item__new-comment"
      *ngIf="isVisibleNewComment"
      [user]="user"
      [comment]="comment"
      [articleId]="articleId"
      (addComment)="addComment()"
    ></app-new-comment>
    <ng-container *ngIf="isVisibleChildren">
      <button
        class="comment-item__btn"
        *ngIf="isButtonVisible"
        (click)="loadMoreComments()"
      >
        Завантажити попередні коментарі ({{ commentsRest }})
      </button>
      <app-comment-item
        class="comment-item__child-comment"
        *ngFor="let child of commentsList"
        [comment]="child"
        [user]="user"
        [articleId]="articleId"
        (removeComment)="confirmRemove($event)"
      ></app-comment-item>
    </ng-container>
  </div>
</div>
