// colors
$white: #fff;
$brown-1: #3c3723;
$brown-2: #1c1910;
$brown-3: #d7d1ba;
$brown-4: #777365;
$yellow-1: #ffd700;
$yellow-2: #ffef99;
$gray-1: #1d1e2626;
$gray-2: #e1e3eb;
$gray-3: #acafbf;
$gray-4: #ced0db;
$red: #e54322;
$red-2: #f00;

// fonts
$source: 'Source Sans Pro', sans-serif;
