// colors
$white: #fff;
$brown-1: #3c3723;
$brown-2: #1c1910;
$yellow-1: #ffd700;
$yellow-2: #ffef99;

// $brown50: #e8e7e5;
// $brown100: #c5c3bd;
// $brown200: #9e9b91;
// $brown300: #777365;
// $brown400: #595544;
// $brown500: #3c3723;
// $brown600: #36311f;
// $brown700: #2e2a1a;
// $brown800: #272315;
// $brown900: #1a160c;

// fonts
$source: 'Source Sans Pro', sans-serif;
