<div class="loader" *ngIf="isLoading$ | async">
  <div class="loader__spinner">
    <div class="loader__spinner-item"></div>
    <div class="loader__spinner-item"></div>
    <div class="loader__spinner-item"></div>
    <div class="loader__spinner-item"></div>
    <div class="loader__spinner-item"></div>
    <div class="loader__spinner-item"></div>
    <div class="loader__spinner-item"></div>
    <div class="loader__spinner-item"></div>
    <div class="loader__spinner-item"></div>
    <div class="loader__spinner-item"></div>
    <div class="loader__spinner-item"></div>
    <div class="loader__spinner-item"></div>
  </div>
</div>
