@import "variables";

.footer {
  background-color: $brown-1;
  font-family: $source;
  color: $yellow-1;

  &__inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }
}
